<!-- NAV BAR -->
    <nav class="bg-gradient-to-t from-green-600 to-green-700">
        <div class="max-w-7xl mx-auto py-3 px-4 sm:px-6 lg:px-8 shadow shadow-inner">
          <div class="flex items-center justify-between h-16">
            <div class="flex items-center">
              <div class="flex-shrink-0">
                  <!-- need to get the icon working here -->
                <i class=" bg-white fas fa-book-open"></i>
                <!-- <img class="h-8 w-8" src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg" alt="Workflow"> -->
              </div>
              <div class="hidden md:block">
                <div class="ml-10 flex items-baseline space-x-4">

                    {{!-- need code that changes navbar according to what page we're on --}}
                  <!-- Current: "bg-yellow-900 text-white", Default: "text-yellow-300 hover:bg-yellow-700 hover:text-white" -->
                  <a href="/home" class="bg-yellow-900 text-white px-3 py-2 rounded-md text-xl font-medium">Home</a>
    
                  <a href="/posts" class="text-yellow-200 hover:bg-yellow-700 hover:text-white px-3 py-2 rounded-md text-l font-medium">Posts</a>
    
                  <a href="/users" class="text-yellow-200 hover:bg-yellow-700 hover:text-white px-3 py-2 rounded-md text-l font-medium">Users</a>
    
                  <a href="/clubs" class="text-yellow-200 hover:bg-yellow-700 hover:text-white px-3 py-2 rounded-md text-l font-medium">Clubs</a>
                  
                  <a href="/reference" class="text-yellow-200 hover:bg-yellow-700 hover:text-white px-3 py-2 rounded-md text-l font-medium">Reference</a>
                </div>
              </div>
            </div>
            <a href="/">
                <span class="block text-green-200 text-xl font-bold inline text-right">Code<span class="block text-white text-xl font-bold inline text-right">Worms</span>
                </span>
            </a>
            
        </div>
    </nav>

    <div class="bg-green-800 p-1 mx-auto flex shadow-inner text-center justify-center"></div>