<div class="text-center mt-10 mb-10 justify-center flex">
            <br><br><br><br><br><br><br><br><br><br><br><br>
            <!-- <img src="/images/library-2.jpeg" alt="Library"> -->
          <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 z-1">
            <figure class="flex bg-gray-100 w:10 rounded-xl p-8 justify-center user-card">
              <img class="w-32 h-32 md:w-48 md:h-auto md:rounded-md rounded-full mx-auto" src="images/forest-1.jpeg" alt="" width="384" height="512">
          <div class="pt-6 md:p-8 text-left space-y-4">
              <blockquote >
                  <p class="text-xl font-semibold">
                  My name's Sarah and I like to read.
                  </p>
              </blockquote>
              <figcaption class="font-medium">
                  <div class="text-cyan-600 user-name">
                  Sarah Dayan
                  </div>
                  <div class="text-gray-500 location">
                  The Alchemist
                  </div>
                  <div class="text-green-400 location">
                      Club: Forest
                  </div>
              </figcaption>
              </div>
          </figure>
            <!-- <span class="block text-white xl:inline">Sarah</span> -->
          </h1>
            <br><br>
        </div>