<!-- NAV BAR -->
    {{>navbar}}

    <!-- HEADER/JUMBOTRON -->
    <main class="mt-10 w-screen mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28 shadow-2xl">
        <div class="sm:text-center lg:text-center">
            <br><br><br><br><br><br><br><br><br>
          <h1 class="text-4xl mt-15 tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
            <span class="block text-green-200 xl:inline">Welcome to</span>
            <span class="block text-white xl:inline">CodeWorms.</span>
          </h1>
            <br><br>
          <!-- <p class="text-center text-white text-4xl">
            Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.
          </p>
          <div class="justify-center">
            <div class="mt-10 rounded-md shadow">
              <a href="#" class="items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-black bg-yellow-100 hover:bg-yellow-600 md:py-4 md:text-lg md:px-10">
                Enter
              </a>
            </div>
          </div> -->
        </div>
    </main>
      <br><br><br><br>
        <!-- DESCRIPTION/DIRECITONS -->
    <div class="mt-10 w-screen mx-auto shadow-inner">
          <div class="mt-15 text-center text-white font-bold text-4xl bg-gradient-to-b from-green-600 to-green-700">
              <br><br><br>
              <div class="max-w-auto text-center justify-center mx-8xl">
                  <p>
                    The only place on the web tailored to coders and book lovers alike.
                  </p>
                  <br>
                  <p>
                    A free forum to share and discuss favorite reads. 
                  </p>
              </div>
              
              <br><br><br>
          </div>
    </div>

    <!-- DIRECTORY -->
    <div class="mx-auto shadow-inner">
        <div class="mb-10 mx-3xl font-extrabold text-6xl text-white text-center">
            <br>
            <div class="inline-block bg-gradient-to-b from-green-600 to-green-700 mx-10 px-10 directory shadow-2xl">
                <h2 class="mx-4xl m-3">DIRECTORY</h2>
            </div>
            <br>
        </div>
    </div>

    <div class="mx-auto shadow-inner">
        <div class="mb-10 mx-2xl font-extrabold text-6xl text-white text-center bg-gradient-to-b from-green-600 to-green-700">
            <div class="space-x-56 mt-10xl justify-evenly">
                <!-- POSTS -->
                <a href="/posts" id="posts-link">
                    <div id="posts" class="inline-block justify-evenly bg-green-800 directory-item">
                        <div>
                            <p>
                                Posts
                            </p>
                        </div>
                    </div>
                </a>
                <!-- USERS -->
                <a href="/users" id="users-link">
                    <div id="users" class="inline-block justify-evenly bg-green-800 directory-item">
                        <div>
                            <p>
                                Users
                            </p>
                        </div>
                    </div>
                </a>
                  <!-- CLUBS -->
                  <a href="/clubs" id="clubs-link">
                    <div id="clubs" class="inline-block justify-evenly bg-green-800 directory-item">
                        <div>
                            <p>
                                Clubs
                            </p>
                        </div>
                    </div>
                </a>
              </div>
        </div>
    </div>